<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'ChatMod Helper', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Über die App', home_about_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Datenbank', home_datebank_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
         <%= link_to 'Impressum', home_impressum_path, class:"nav-link"%>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <% if cookies[:theme] == "light" %>
              <%= link_to "Go DARK", root_path(theme: "dark"), class:"nav-link" %>
            <% else %>
              <%= link_to "Go LIGHT", root_path(theme: "light"), class:"nav-link" %>
            <% end %>
          </li>
          <li class="nav-item">
            <a class ="nav-link"> Login </a>
          </li>
        </ul>
    </div>
  </div>
</nav>
