<h1><div style="text-align: center;">User</div></h1>
<%= form_tag(home_user_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Los") %>
<% end %>
<%if params[:search] == nil %>
  <% result = ExternalDb.connection.exec_query("select * from user limit 100")%>
<% else %>
  <p><% result = ExternalDb.connection.exec_query("select * from #{params[:search]}")%></p>
<%end %>
<table class="output">
  <thead>
  <tr>
    <th>ID</th>
    <th>Twitch ID</th>
    <th>Name</th>

  </tr>
  </thead>
  <tbody>
  <%result.each do |row| %>
    <tr>
      <td><%= row['id'] %></td>
      <td><%= row['twitchid'] %></td>
      <td><%= row['Name'] %></td>
    </tr>
  <%end %>
  </tbody>
</table>