<h1><div style="text-align: center;">Zeitnachweis</div></h1>
<%= form_tag(home_zeitnachweis_path, method: :get) do %>
   <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Los") %>
  <% end %>
<%if params[:search] == nil %>
  <% result = ExternalDb.connection.exec_query("select * from zeitnachweis")%>
  <% else %>
  <p><% result = ExternalDb.connection.exec_query("select * from #{params[:search]}")%></p>
  <%end %>
<table class="output">
  <thead>
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>zeit</th>
    <th>activezeit</th>
    <th>monat</th>
    <th>jahr</th>
  </tr>
  </thead>
  <tbody>
  <%result.each do |row| %>
    <tr>
      <td><%= row['id'] %></td>
      <td><%= row['name'] %></td>
      <td><%= row['zeit'] %></td>
      <td><%= row['activezeit'] %></td>
      <td><%= row['monat'] %></td>
      <td><%= row['jahr'] %></td>
    </tr>
  <%end %>
  </tbody>
</table>