<h1><div style="text-align: center;">Zeitnachweis</div></h1>
<%= form_tag(home_zeitnachweis_path, method: :get) do %>
  where: <%= select_tag(:where, options_for_select([:name, :zeit, :activezeit, :monat, :jahr], params[:where]), class: "form-select d-inline-block w-25") %>
  = <%= text_field_tag(:equal, params[:equal]) %>
  <%= submit_tag ("Los") %>
  <% end %>
<%if params[:where] == nil %>
  <% result = ExternalDb.connection.exec_query("select * from zeitnachweis")%>
  <% else %>
  <p><% result = ExternalDb.connection.exec_query("select * from zeitnachweis where #{params[:where]} LIKE '%#{params[:equal]}%' limit 100")%></p>
  <%end %>
<table class="output">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>zeit</th>
    <th>activezeit</th>
    <th>monat</th>
    <th>jahr</th>
  </tr>
  </thead>
  <tbody>
  <%result.each do |row| %>
    <tr>
      <td><%= row['id'] %></td>
      <td><%= row['name'] %></td>
      <td><%= row['zeit'] %></td>
      <td><%= row['activezeit'] %></td>
      <td><%= row['monat'] %></td>
      <td><%= row['jahr'] %></td>
    </tr>
  <%end %>
  </tbody>
</table>
